@import "../utils";

@mixin atRoot($atRoot) {
  @if $atRoot {
    @at-root {
      @content;
    }
  } @else {
    @content;
  }
}


//
//  Media Object:
//  http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
//
//  +---------+ ~~~~~~
//  |         | ~~~~~~~~~
//  |         | ~~~~~~~~~
//  |         | ~~~~~~~~~
//  |         |
//  +---------+
//

@mixin Media($left, $right, $gutter: 0, $atRoot: true) {
  @extend %u-bfc;
  @include atRoot($atRoot) {
    #{$right} {
      @extend %u-bfc;
    }
    #{$left} {
      @extend %u-floatLeft;
      @if $gutter != 0 {
        margin-right: $gutter;
      }
    }
  }
}


//
//  Flag Object:
//  http://csswizardry.com/2013/05/the-flag-object/
//
//  +---------+
//  |         | ~~~~~
//  |         | ~~~~~~~~~
//  |         | ~~~~~~~~~
//  |         | ~~~~~~
//  +---------+
//

@mixin Flag($left, $right, $align: middle, $gutter: 0, $atRoot: true) {
  @extend %u-table;
  @include atRoot($atRoot) {
    #{$left},
    #{$right} {
      @extend %u-tableCell;
      vertical-align: $align;
    }
    @if $gutter != 0 {
      #{$left} {
        padding-right: $gutter;
      }
    }
  }
}


//
//  Balance Object:
//
//  +-----------------------------------------+
//  | +---------+                             |
//  | |         |                     +-----+ |
//  | |         |                     |~~~~~| |
//  | |         |                     |~~~~~| |
//  | |         |                     +-----+ |
//  | +---------+                             |
//  +-----------------------------------------+
//
// @private
%_balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin Balance($left, $right, $lineHeight: 0, $atRoot: true) {
  @if $lineHeight != 0 {
    @extend %u-cf;
    @include atRoot($atRoot) {
      #{$left},
      #{$right} {
        line-height: $lineHeight;
      }
      #{$left} {
        @extend %u-floatLeft;
      }
      #{$right} {
        @extend %u-floatRight;
      }
    }
  } @else {
    @extend %_balance;
  }
}

//
// Space Between:
//
// +---------+                      +------------+
// |         |      +-------+       |            |
// |         |      |       |       |            |
// |         |      |       |       |            |
// |         |      +-------+       |            |
// +---------+                      +------------+
//
%_spacebetween {
  text-align: justify;
  text-justify: distribute;
  -ms-text-justify: distribute;
  > * {
    display: inline-block;
  }
  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}
@mixin SpaceBetween($align: middle) {
  @extend %_spacebetween;
  > * {
    vertical-align: $align;
  }
}
