//
//  If you're using this for a single image,
//  leave $bgSize empty.
//  If you're using this for a retina sprite,
//  set $bgSize the size of your @1x image.
//  http://miekd.com/articles/using-css-sprites-to-optimize-your-website-for-retina-displays/
//
@mixin Retina($img, $img2x, $bgSize: cover) {
  background-image: url($img);
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    background-image: url($img2x);
    background-size: $bgSize;
  }
}


//
//  Currently do not support border-radius
//  as rx/ry of 0.5 width rect is not well rendered in browsers.
//
@mixin HalfPixelBorder($color: #000, $dir: none) {
  @if $dir != none {
    border-#{dir}: 1px solid $color;
  } @else {
    border: 1px solid $color;
  }
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    @if $dir != none {
      border: 0;
      border-#{$dir}-width: 1px;
    }
    border-image: url("data:image/svg+xml;utf8,<svg width='3' height='3' xmlns='http://www.w3.org/2000/svg'><rect x='0' y='0' width='3' height='3' stroke='#{$color}' stroke-width='0.5' fill='rgba(0,0,0,0)'></rect></svg>") 1 1 1 1 stretch;
  }
}
