@mixin Rect($width, $height, $radius: 0) {
  width: $width;
  height: $height;
  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin Square($length, $radius: 0) {
  @include Rect($length, $length, $radius);
}

@mixin Circle($diameter) {
  @include Square($diameter, 50%);
}

// auto scaling
// $ratio = width/height
@mixin Ratio($ratio) {
  overflow: hidden;
  &:before {
    content: "";
    float: left;
    margin-top: percentage(1/$ratio);
  }
}
