%Button {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  position: relative;
  font: inherit;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  outline: 0;
  user-select: none;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }
}
@mixin Button {
  @extend %Button;
  @content;
}
