// font choices based on han.css
// http://css.hanzi.co/
@mixin SansSerif {
  font-family: "Helvetica Nenu", Helvetica, Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
}
%SansSerif {
  @include SansSerif;
}

@mixin Smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}
%Smoothing {
  @include Smoothing;
}

@mixin Kerning {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
%Kerning {
  @include Kerning;
}

//
//  Single-line truncating, with ellipsis
//
@mixin Ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
%Ellipsis {
  @include Ellipsis;
}

//
//  Multiple-lines truncating, with ellipsis
//
@mixin Clamp($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
