%u-block {
  display: block;
}

%u-hidden {
  display: none;
}

%u-inline {
  display: inline;
}

%u-inlineBlock {
  display: inline-block;
}

%u-table {
  display: table;
}

%u-tableCell {
  display: table-cell;
}

%u-tableRow {
  display: table-row;
}
