%u-cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%u-bfc {
  overflow: hidden;
}

%u-floatLeft {
  float: left;
}

%u-floatRight {
  float: right;
}
